spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/pin_desk
    username: pin
    password: pin
  jpa:
    hibernate:
      ddl-auto: validate
  flyway:
    enabled: true
  logging:
    level:
      org.springframework.boot.context.config: DEBUG
      org.flywaydb: INFO